In [4]:
#importing required packages
import pandas as pd
import quandl as q

#set API key
q.ApiConfig.api_key = "hzHM94gnxvsqny9yDj83"

#get Microsoft's end of day price from Jan 1st 2010 to Jan 1st 2020
msft_data = q.get("EOD/MSFT", start_date="2010-01-01", end_date="2020-01-01")
msft_data.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2013-09-03,31.7500,32.07,31.29,31.880,154507000.0,0.0,1.0,27.167189,27.441000,26.773585,27.278424,154507000.0
2013-09-04,31.3900,31.47,31.11,31.195,142320600.0,0.0,1.0,26.859151,26.927604,26.619567,26.692298,142320600.0
2013-09-05,31.1000,31.44,30.95,31.235,71644900.0,0.0,1.0,26.611010,26.901934,26.482661,26.726524,71644900.0
2013-09-06,31.3100,31.39,31.13,31.152,75434900.0,0.0,1.0,26.790699,26.859151,26.636680,26.655504,75434900.0
2013-09-09,31.2208,31.79,31.20,31.655,49628500.0,0.0,1.0,26.714374,27.201415,26.696576,27.085901,49628500.0

In [5]:
msft_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1090 entries, 2013-09-03 to 2017-12-28
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Open        1090 non-null   float64
 1   High        1090 non-null   float64
 2   Low         1090 non-null   float64
 3   Close       1090 non-null   float64
 4   Volume      1090 non-null   float64
 5   Dividend    1090 non-null   float64
 6   Split       1090 non-null   float64
 7   Adj_Open    1090 non-null   float64
 8   Adj_High    1090 non-null   float64
 9   Adj_Low     1090 non-null   float64
 10  Adj_Close   1090 non-null   float64
 11  Adj_Volume  1090 non-null   float64
dtypes: float64(12)
memory usage: 110.7 KB

In [6]:
msft_data.describe()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
count,1090.000000,1090.000000,1090.000000,1090.000000,1.090000e+03,1090.000000,1090.0,1090.000000,1090.000000,1090.000000,1090.000000,1.090000e+03
mean,52.584746,52.995410,52.178964,52.617352,3.185689e+07,0.005303,1.0,48.000145,48.373460,47.631076,48.029791,3.185689e+07
std,12.834439,12.866606,12.784332,12.832792,1.709372e+07,0.042538,0.0,13.269137,13.309748,13.212496,13.268630,1.709372e+07
min,31.100000,31.390000,30.950000,31.152000,7.425603e+06,0.000000,1.0,26.611010,26.859151,26.482661,26.655504,7.425603e+06
25%,42.955000,43.265000,42.612500,43.058750,2.185425e+07,0.000000,1.0,38.023338,38.486680,37.651065,38.176974,2.185425e+07
50%,49.535000,50.105000,49.120000,49.690000,2.808245e+07,0.000000,1.0,45.260271,45.776061,44.789975,45.417044,2.808245e+07
75%,60.640000,61.130000,60.241250,60.637500,3.624615e+07,0.000000,1.0,56.495478,57.021552,56.279662,56.636998,3.624615e+07
max,87.120000,87.499900,86.230000,86.850000,2.025224e+08,0.420000,1.0,83.238068,83.601040,82.387725,82.980099,2.025224e+08

In [7]:
msft_data.resample('M').mean().head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2013-09-30,32.491545,32.778450,32.238500,32.523450,6.214808e+07,0.000,1.0,27.801699,28.047192,27.585178,27.828999,6.214808e+07
2013-10-31,34.355222,34.631517,34.108000,34.381957,4.197093e+07,0.000,1.0,29.396371,29.632786,29.184834,29.419247,4.197093e+07
2013-11-30,37.227245,37.557500,37.042750,37.362100,4.002158e+07,0.014,1.0,31.951468,32.234737,31.793259,32.066892,4.002158e+07
2013-12-31,37.508100,37.769286,37.110810,37.455238,3.936275e+07,0.000,1.0,32.338755,32.563944,31.996219,32.293179,3.936275e+07
2014-01-31,36.427381,36.689048,35.942857,36.350000,4.429649e+07,0.000,1.0,31.406980,31.632584,30.989233,31.340264,4.429649e+07