In [3]:
#import pandas
import pandas as pd

#import the Pokemon info
df = pd.read_csv('pokemon_data.csv')
print(df.head())

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [15]:
#reading headers
df.columns

#read specific column
df['Sp. Def']
df[['Sp. Def', 'Speed']]

#read each row
df.iloc[1]
df.iloc[1:4]
for index, row in df.iterrows():
    index, row['Name']
    
#conditional rows
df.loc[df['Type 1'] == "Fire"]

#read a specific location (row, col)
df.iloc[2,1]

'Venusaur'

In [18]:
#describing data
df.describe()

#sorting
df.sort_values('Name', ascending=False)
df.sort_values(['HP', 'Name'], ascending=[True, False])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False
55,50,Diglett,Ground,NaN,10,55,25,35,45,95,1,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
487,439,Mime Jr.,Psychic,Fairy,20,25,45,70,90,60,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False

In [22]:
#making column 'Total' and setting it to horizontal sum
df['Total'] = df.iloc[:, 4:10].sum(axis=1)

#moving total to the left of HP
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

In [23]:
#export to csv
df.to_csv('modified.csv', index=False)

In [37]:
#filtering data
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

#reset the index, drop old indexes
new_df.reset_index(drop=True)

#names that do not contain Mega
df.loc[~df['Name'].str.contains('Mega')]

#using regular expressions and flags
#re.I flag is ignore case
#import flags
import re
df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]

#name starts with pi
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

In [47]:
#conditional changes; change Fire to Flamer
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'

#make new column Legendary and set Total == 600 to true 
df.loc[df['Total'] >= 600, 'Legendary'] = True
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,True
4,4,Charmander,Flamer,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Flamer,Water,600,80,110,120,130,90,70,6,True

In [51]:
#reset the data
df = pd.read_csv('modified.csv')

In [55]:
#using groupby to find aggregate statistics
#mean
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

#sum
df.groupby(['Type 1']).sum()

#count
df.groupby(['Type 1', 'Type 2']).count()

                  #  Name  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  \
Type 1 Type 2
Bug    Electric   2     2      2   2       2        2        2        2
       Fighting   2     2      2   2       2        2        2        2
       Fire       2     2      2   2       2        2        2        2
       Flying    14    14     14  14      14       14       14       14
       Ghost      1     1      1   1       1        1        1        1
...              ..   ...    ...  ..     ...      ...      ...      ...
Water  Ice        3     3      3   3       3        3        3        3
       Poison     3     3      3   3       3        3        3        3
       Psychic    5     5      5   5       5        5        5        5
       Rock       4     4      4   4       4        4        4        4
       Steel      1     1      1   1       1        1        1        1

                 Speed  Generation  Legendary
Type 1 Type 2
Bug    Electric      2           2          2
       Fighting      2           2          2
       Fire          2           2          2
       Flying       14          14         14
       Ghost         1           1          1
...                ...         ...        ...
Water  Ice           3           3          3
       Poison        3           3          3
       Psychic       5           5          5
       Rock          4           4          4
       Steel         1           1          1

[136 rows x 11 columns]

In [ ]:
#working with large amounts of data
#set chucksize to rows at a time
for df in pd.read_csv('modified.csv', chunksize=5)